body {
    background-color: forestgreen;
    color: white;
    margin-top: 60px;
    overflow: hidden;
}

hr {
    border-color: yellow;
}

#greenLine {
    border-color: lawngreen;
}

#text-effect {
    color: yellow;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

ul {
    margin-left: 530px;
    list-style: none;
    margin-top: 35px;
    margin-bottom: 35px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    font: 1em;
    width: 90px;
}

button {
    width: 80px;
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 100px;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: yellow;
}

img {
    width: 300px;
    height: 250px;
    margin-left: 550px;
    margin-top: 10px;
}
